:root {
  --background-color-dark: #30475E;
	--background-color-light: #F0F0F0;

	--highlight-color: #F05454;

	--presentation-background-color-dark: rgba(24, 24, 24, 0.8);
	--presentation-background-color-light: rgba(240, 240, 240, 0.8);

	--black: #181818;
	--white: #F0F0F0;
	--grey: #323232;

	--background-color-dark: #181818;
	--background-color-light: #F0F0F0;

	--text-color-dark: #F0F0F0;
	--text-color-light: #181818;

	--main-title-size: 1.35vmax;
	--title-font-size: 1.15vmax;
	--menu-font-size: 1.05vmax;
	--text-font-size: 1vmax;
	--footer-font-size: 0.75vmax;

	--social-buttons-size: 2.15vmax;

	--theme-icon-size: 2vmax;

	--profile-image-size: 12vmax;

	--site-symbol-size: 4vmax;
}
